<div class="container">
  <mat-card>
    <mat-card-title>Search Countries</mat-card-title>
    <mat-form-field appearance="fill">
      <mat-label>Enter Country name</mat-label>
      <input matInput [(ngModel)]="searchTerm" placeholder="Search for a country" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="searchCountry()">Search</button>
  </mat-card>

  <mat-card *ngIf="countries.length > 0">
    <mat-card-title>Search Results</mat-card-title>
    <mat-card-content>
      <ul>
        <li *ngFor="let country of countries">
          <a [routerLink]="['/country', country.cca2]">{{ country.name.common }}</a>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="randomCountries.length > 0">
    <mat-card-title>Random Countries and Their Holidays</mat-card-title>
    <mat-card-content>
      <ul>
        <li *ngFor="let country of randomCountries">
          <strong>
            <a [routerLink]="['/country', country.cca2]">{{ country.name.common }}</a>
          </strong>
          <ul *ngIf="holidays[country.cca2] && holidays[country.cca2].length > 0">
            <li *ngFor="let holiday of holidays[country.cca2]">
              {{ holiday.name }} - {{ holiday.date }}
            </li>
          </ul>
          <p *ngIf="holidays[country.cca2] && holidays[country.cca2].length === 0">
            No holidays found for this country in 2024.
          </p>
        </li>
      </ul>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="noHolidaysMessage">
    <mat-card-title>Notice</mat-card-title>
    <mat-card-content>
      <p>{{ noHolidaysMessage }}</p>
    </mat-card-content>
  </mat-card>
</div>
